.hero-container{
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    max-height: 500px;
}

.hero-text{
    position: relative;
    margin-left: 20px;
    font-size: 60px;
    z-index: 2;
}

.hero-background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
}