{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <div style="display:flex; align-items:center; justify-content:center; width=100vh;">
        <a href="{% url 'feed:addPost' %}" style="align-items:center; font-size:30px">Add post &rarr;</a>
    </div>
    <hr>
    {% for post in posts %}
        <br>
        {{ post.text }}
            {% thumbnail post.image "200x200" crop="center" as im %}
            <a href="{% url 'feed:detail' post.id %}">
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            </a>
            {% endthumbnail %}
        <hr>
    {% endfor %}
{% endblock %}